@import "../../shared/styles/tools.scss";

.header {
	width: 100%;
	@include flex(row, center, center);
	.container {
		width: 1920px;
		margin: 0 auto;
		padding: 0 42px;
	}

	.content {
		width: 100%;
		@include flex(row, space-between, center);
		height: 118px;

		.title {
			@include font(400, 32px);
			font-style: italic;
			color: $light-color;
		}

		.update {
			@include flex(row, space-between, center);
			.update_btn {
				width: 204px;
				height: 56px;
				border-radius: 4px;
				padding: 16px;
				background: #eb0237;
				font-family: "Inter";
				@include font(600, 18px);
				color: $light-color;
				border: none;
				@include flex(row, center, center);
				column-gap: 10px;

				img {
					animation: load 0.8s linear alternate infinite;
				}
			}

			.update_btn[data-status=pending] {
				background: #a01131;
			}

			@keyframes load {
				0% {
					transform: rotate(0);
				}

				100% {
					transform: rotate(360deg);
				}
			}
		}
	}
}
