@import '../../../../../../../shared/styles/tools.scss';

.about {
	width: 874px;
	height: 52px;
	@include flex(row, space-around, center);
	background-color: $dark-color;
	border-radius: 4px;
	background: #101318;
	.aboutBlock {
		width: 265px;
		height: 24px;
		@include font(600, 16px, 150%);
		color: $light-color;
		text-align: center;

		span:first-child {
			@include font(500, 14px, 150%);
			font-family: "Inter";
			text-align: right;
			color: #fafafa66;
		}

		span:last-child {
			@include font(600, 16px, 150%);
			font-family: "Inter";
			color: $light-color;
			margin-left: 8px;
		}
	}
	.line {
		height: 24px;
		border: 1px solid #141a21;
	}
}
